#tbldiv {
    margin-top: 2px;
    font-family: "tahoma";
    
}

h1 {
    font-family: "Sofia", sans-serif;
}

body {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1934&q=80");
    /* filter: blur(8px); */
}

.tablink {
    background-color: #35193915;

    color: rgb(255, 255, 255);
    float: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px 120px;margin
    font-size: 20px;
    width: 33%;
}

.tablink:hover {
    background-color: #753790bd;
}


.tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 50px;
    text-align: center;
    font-family: "Sofia", sans-serif;
}

.drop-container {
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    /* transition: background .2s ease-in-out, border .2s ease-in-out; */
}

.drop-container:hover,
.drop-container.drag-active {
    background: #ffffff;
    border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .button-56 {
    margin:auto;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 12px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }